*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cadastro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ddd8d3;
}

.formulario-cadastro{
    width: 45%;
    height: 90%;
    background: rgb(24,26,15);
    background: linear-gradient(360deg, rgba(24,26,15,1) 0%, rgba(51,30,10,1) 35%, rgb(158, 86, 9) 100%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
     box-shadow: 5px 5px 5px rgb(162, 162, 162);

     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}

.imagem-cadastro{
    width: 30%;
    height: 90%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 5px 5px 5px rgb(162, 162, 162);
    background: linear-gradient(360deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 35%), url(../assets/imgs/beer-820011_1920.jpg);
    background-size: cover;
    
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.imagem-cadastro h3{
    color: #fff;
    font-size: 17px;
    margin-bottom: 8px;
}


.imagem-cadastro span{
    color: #fff;
    font-size: 13px;
    margin-bottom: 30px;
}

.imagem-cadastro button{
    background-color: transparent;
    
    border: 1px solid #fff;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 8px;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

.imagem-cadastro button:hover{
    background-color: #fff;
    color: black;
}
.imagem-cadastro img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

.imagem-cadastro img::before{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #b3620c;
    z-index: 2;
}

.campo{
    display: flex;
     flex-direction: column;
     justify-content: space-around;
     
}

.campo label{
    color: #fff;
    font-size: 15px;
    margin: 0 0 10px 15px;
}

.campo input{
    height: 20px;
    width: 250px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.campo input:focus{
    outline: none;
}

.titulo-form h3{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.formulario-cadastro button{
    background-color: #b3620c;
    border: none;
   
    height: 45px;
    border-radius: 15px;
    padding: 4px 28px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.formulario-cadastro button:hover{
    padding: 0 32px;
}